@{
    ViewBag.Subtitulo = "Principal";
}

<h1>Bem-vindo ao <u>Estoque Web!</u></h1>
<hr>
<p>Essa aplicação web permite gerenciar seu estoque de produtos. 
    Acesse o menu superior para ter acesso aos recursos</p>